<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MyOrm" type="MyOrm.MyOrmSection, MyOrm"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.199\sql2008r2,1434;Initial Catalog=master;User ID=sa;Password=sa123456"/>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=MAC-ZJC\MSSQLSERVER08R2;Initial Catalog=CaiMoMo_HR;User ID=sa;Password=sa08"/>-->
  </connectionStrings>
  <appSettings>
    <add key="Interval" value="3600000" />
   
    <add key="ErrorInterval" value="3600000" />
  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>