<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="MyOrm" type="MyOrm.MyOrmSection, MyOrm" />
  </configSections>
  <appSettings>
    <add key="MP_ORI_ID" value="gh_2a3b86b526a2" />
    <add key="MP_APPID" value="wxe82c31dcf605a434" />
    <add key="MP_APPSECRET" value="a2b26f37501ab8726aefca1b25f94094 " />
    <add key="MP_PAY_MCH_ID" value="1398486802" />
    <add key="WebReference.Service.PostUrl" value="http://smssh1.253.com/msg/send/json" />
  </appSettings>
  <connectionStrings>
    <clear />
    
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=139.224.119.91;Initial Catalog=CaiMoMo_TC;User ID=sa;Password=123@abcd" />
    <add name="CaiMoMoConnection" providerName="System.Data.SqlClient" connectionString="Data Source=139.224.119.91;Initial Catalog=CanYinCenter_TC;User ID=sa;Password=123@abcd" />

    <add name="MongoConnectionString" connectionString="mongodb://192.168.0.146:27017" />
    <add name="CanYinCenterConnectionString" connectionString="Data Source=139.224.119.91;Initial Catalog=CanYinCenter_TC;User ID=sa;Password=123@abcd" providerName="System.Data.SqlClient" />
    <add name="CaiMoMo_HRConnectionString" connectionString="Data Source=139.224.119.91;Initial Catalog=CaiMoMo_TC;User ID=sa;Password=123@abcd" providerName="System.Data.SqlClient" /> 
    <add name="CaiMoMo_TCConnectionString" connectionString="Data Source=139.224.119.91;Initial Catalog=CaiMoMo_TC;User ID=sa;Password=123@abcd" providerName="System.Data.SqlClient" /> 
<!--<add name="CaiMoMoConnection" providerName="System.Data.SqlClient"
      connectionString="Data Source=192.168.0.199\sql2008r2,1434;Initial Catalog=CaiMoMo;User ID=sa;Password=sa123456"/>-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=MAC-ZJM\MSSQLSERVER08;Initial Catalog=CaiMoMo_HR;User ID=sa;Password=sa123456"/>
    <add name="CaiMoMoConnection" providerName="System.Data.SqlClient" connectionString="Data Source=MAC-ZJM\MSSQLSERVER08;Initial Catalog=CaiMoMo_BACK;User ID=sa;Password=sa123456"/>-->
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="4.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>